root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.swift]
indent_size = 4

[*.{rs,go}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
indent_size = unset

[*.stderr]
indent_size = unset

[fuzz/corpus/**]
insert_final_newline = false
trim_trailing_whitespace = false
indent_style = unset

[fuzz/corpus/public_jwk/**]
insert_final_newline = true

[fuzz/corpus/public_cose/**]
insert_final_newline = true

[fuzz/corpus/jws_compact/**]
insert_final_newline = true

[Makefile]
indent_style = tab
